In [26]:
import random
import math
import numpy as np
import pandas as pd
import json
import tensorflow as tf
import tensorboard
from tensorflow import keras
from tensorflow.keras import Sequential, layers, optimizers, losses
from config import Config

In [2]:
path = 'data/ml-1m/'
movies_col = ['MovieID', 'Title', 'Genres']
users_col = ['UserID', 'Gender', 'Age', 'Occupation', 'Zip-code']
ratings_col = ['UserID', 'MovieID', 'Rating', 'Timestamp']
movies = pd.read_csv(f'{path}movies.dat', sep="::", names=movies_col)
users = pd.read_csv(f'{path}users.dat', sep="::", names=users_col)
ratings = pd.read_csv(f'{path}ratings.dat', sep="::", names=ratings_col)

ipykernel_launcher:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
ipykernel_launcher:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
ipykernel_launcher:7: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [14]:
movies.head()

   MovieID                               Title                        Genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

In [17]:
users.head()

   UserID Gender  Age  Occupation Zip-code
0       1      F    1          10    48067
1       2      M   56          16    70072
2       3      M   25          15    55117
3       4      M   45           7    02460
4       5      M   25          20    55455

In [20]:
ratings.head()

   UserID  MovieID  Rating  Timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [4]:
user_id_num = users['UserID'].nunique()

In [51]:
user_id_embedding = keras.Sequential([
            layers.Embedding(user_id_num, Config.user_id_embedding_output_dim,  name="embedding"),
            layers.Dense(32, kernel_initializer='he_normal', name='use_id_fc'),
        ], name='user_id_embedding')

In [40]:
user_id_embedding(tf.expand_dims(users['UserID'][:3], axis=0))

<tf.Tensor: shape=(1, 3, 32), dtype=float32, numpy=
array([[[ 2.5832716e-02,  2.8851580e-02, -3.6324035e-02, -2.7316391e-02,
         -6.4673908e-03, -2.3645306e-02,  2.3282003e-02, -6.3903257e-04,
         -4.7676839e-02,  5.4590330e-03,  2.1130171e-02, -4.7348537e-02,
          4.3188345e-02, -4.9422313e-02,  1.1717565e-03, -3.6031723e-02,
          6.0714781e-05,  1.4065515e-02, -5.9670694e-03,  2.4082575e-02,
         -1.8593132e-02, -2.1727145e-02, -1.1332046e-02,  2.4214517e-02,
         -3.1360015e-03,  2.7307991e-02, -1.6783796e-02, -3.6213614e-02,
          6.6113696e-03, -4.3266665e-02, -2.9778052e-02,  9.3796365e-03],
        [-2.6907885e-02,  3.5011936e-02,  2.5391761e-02,  1.8592153e-02,
         -2.0112384e-02,  1.8152464e-02, -1.0144889e-02,  2.2828605e-02,
         -2.6873279e-02, -3.8172018e-02,  4.7138784e-02,  4.7662329e-02,
         -3.8386177e-02,  3.4824047e-02, -2.8643167e-02,  8.6031109e-04,
         -3.5016011e-02, -4.2482805e-02,  3.2668710e-03,  8.6185932e-03,
          6.7032948e-03,  2.1722350e-02, -2.7902067e-02, -1.4946938e-02,
          1.0288574e-02,  3.0589793e-02, -2.6555264e-02,  2.0332638e-02,
         -1.9426012e-02,  3.4275640e-02,  7.1129315e-03, -3.6436804e-03],
        [-3.4999393e-02,  4.7640894e-02, -2.1777749e-03, -2.6962519e-02,
         -1.5949011e-03, -9.9067464e-03,  1.9307110e-02,  4.2579476e-02,
         -2.7264286e-02,  1.2564186e-02,  4.2864051e-02,  1.7468929e-03,
         -3.3944957e-03,  1.0716103e-02,  1.7175946e-02,  4.5908738e-02,
         -1.2738526e-02,  3.7787918e-02, -1.4751673e-02,  2.8042618e-02,
         -1.4860831e-02, -2.2594322e-02, -1.8204652e-02, -9.7680464e-03,
         -4.3604374e-02, -1.7905463e-02,  2.8539728e-02, -3.0649139e-02,
         -1.6089901e-03, -1.2386274e-02,  1.0906570e-03, -9.0867504e-03]]],
      dtype=float32)>

In [54]:
movies['Genres'].apply(lambda x: x.split('|'))

0        [Animation, Children's, Comedy]
1       [Adventure, Children's, Fantasy]
2                      [Comedy, Romance]
3                        [Comedy, Drama]
4                               [Comedy]
                      ...
3878                            [Comedy]
3879                             [Drama]
3880                             [Drama]
3881                             [Drama]
3882                   [Drama, Thriller]
Name: Genres, Length: 3883, dtype: object